<!DOCTYPE html>
<html lang="en">
<head>
  <title>Blog Article</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
  <h2 class="mb-5"><%= article.title %></a>
  <p class="text-muted"><%= cretedAt %></p>
  <a href="/article" class="btn btn-success">All article</a>
  <a href="/article/<%= article.id%>/edit" class="btn btn-secondary">Edit</a>
  <div class="card">
    <div class="card-body">
      <%= article.description %>
      <%= article.slug %>
    </div>
  </div>
</div>

</body>
</html>
